<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear Nuevo Servicio</title>
   <meta charset="UTF-8" />
    <link rel="stylesheet"
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
    <div th:replace="fragments/menu_responsable_ma" >...</div>
    <div th:replace="fragments/logininfo" >...</div>
    <h2>Nuevo Servicio</h2>
    <form action="#" th:action="@{/service/add}"
                     th:object="${service}" method="post">
      <table id="tabla_forms">
   
        <tr>
            <td><label>Nombre Servicio</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <td><label>Tipo</label></td>
            <td><input type="text" th:field="*{type}" /></td>
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        
        
        <tr>
            <td colspan="2"><input type="submit" class="btn btn-success" value="Añadir Servicio" /></td>
        </tr>
      </table>
    </form>
</body>
</html>