<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar service</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Service</h2>
<form action="#" th:action="@{/service/update}"
      th:object="${service}" method="post">
    <table>
        
        <tr>
        
        	
            <td><input type="hidden" th:field="*{idservice}" /></td>
         </tr>
         <tr>
            <td><label>name</label></td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td><label>type</label></td>
            <td><input type="text" th:field="*{type}"/></td>
        </tr>
        <tr>
            <td><label>description</label></td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>
        <tr>
            <td><label>name_service</label></td>
            <td><input type="text" th:field="*{name_service}"/></td>
        </tr>
        <tr>
            <td><label>name_area</label></td>
            <td><input type="text" th:field="*{name_area}"/></td>
        </tr>
        
        <tr>
            <td colspan="2"><input type="submit" value="Edita temporalservice" /></td>
        </tr>
    </table>
</form>
</body>
</html>