<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar reserves</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   <link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
   
</head>
<body>
   <div th:replace="fragments/menu_gestor_municipal" >...</div>
   <div th:replace="fragments/logininfo" >...</div>
   <h1>Llista de reserves</h1>
   
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Numero de la reserva</th>
         <th>Dia que lo reservo</th>
         <th>Dia de la reserva</th>
         <th>status</th>
         <th>Personas</th>
		 <th>dni</th>
         <th>tiempo</th>
		 <th>area</th>
		 <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="reserve: ${reserves}">
         <td th:text="${reserve.numberOfReserve}"></td>
         <td th:text="${reserve.dateOfReservation}"></td>
         <td th:text="${reserve.dateOfTheReserve}"></td>
         <td th:text="${reserve.status}"></td>
         <td th:text="${reserve.numberOfPeople}"></td>
		 <td th:text="${reserve.dni}"></td>
		 <td th:text="${reserve.time.startTime} + '-' + ${reserve.time.endTime}"></td>
		 <td th:text="${reserve.area}"></td>
         </td>
         <td><a type="button" class="btn btn-danger" th:href="@{/gestormunicipal/list/cancel/{numberOfReserve}(numberOfReserve=${reserve.numberOfReserve})}">Cancelar</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a type="button" class="btn btn-success" href="add">Afegeix reserve</a>
</body>
</html>
