<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Nivel de ocupacion</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
	 <link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/menu_gestor_municipal" >...</div>
<div th:replace="fragments/logininfo" >...</div>
<h1>Nivel de ocupacion municipios</h1>

<form action="#" th:action="@{/gestor/ocupacion}" 
                     th:object="${formulario}" method="post"> 
      <table>
	  <tr>
	    <td><label>Provincia</label></td>
		<td> 
			<label th:text="${provinciasList}"></label>
		</td>
	   </tr>
	  <tr th:if="${localidadesList != null}">
	    <td><label>Localidad</label></td>
		<td> 
			<label th:text="${localidadesList}"></label>
		</td>
	   </tr>
      </table>
	  
	  
	  <tr th:each="ocupacionArea: ${ocupado}">
		<table>
		<tr>
			<td>
				<h3 th:text="${ocupacionArea.area}"></h3>
				<tr th:each="ocupacionDia: ${ocupacionArea.ocupacion}">
					<table>
					<tr>
						<b th:text="'Dia: ' + ${ocupacionDia.date}" /> </br>
						<tr th:each="ocupacionHora: ${ocupacionDia.ocupacionHora}">
							<table>
							<tr>
							<a th:text="'Horas: ' + ${ocupacionHora.time.startTime} + '-' + ${ocupacionHora.time.endTime} + ' Ocupacion: ' + ${ocupacionHora.ocupado} + '/' + ${ocupacionHora.capacidad} + ' (' + ${ocupacionHora.porcentaje} + '%)'"/>
							</tr>
							</table>
					</tr>
					</table>
				</tr>
			</td>
		</tr>
		</table>
   </tr>


</body>
</html>