<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Municipis</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Llista de Municipis</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Codí</th>
         <th>Municipi</th>
         <th>Pais</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="municipality: ${municipality}">
         <td th:text="${municipality.code}"></td>
         <td th:text="${municipality.name}"></td>
         <td th:text="${municipality.country}"></td>
         <td><a type="button" class="btn btn-warning" th:href="@{/municipality/update/{code}(code=${municipality.code})}">Edita</a>
         </td>
         <td><a type="button" class="btn btn-danger" th:href="@{/municipality/delete/{code}(code=${municipality.code})}">Esborra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add">Afegeix Municipi</a>
</body>
</html>