<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Mis Reservas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
	 <link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/menu_citizen" >...</div>
<h1>¿Estás seguro que desea cancelar la reserva?</h1>
       <tr th:each="reserva: ${misReservas}">
	   <table>
		<tr>
	     <td> <img src="https://i.blogs.es/594843/chrome/450_1000.jpg"> </td>
		 <td>
			<a th:text="'Area: ' + ${reserva.area}"></a> </br> 
			<a th:text="'Zonas: ' + ${reserva.zonas}"></a> </br>
			<a th:text="'Cantidad de personas: ' + ${reserva.reserve.numberOfPeople}"></a> </br>
			<a th:text="'Horario: ' + ${reserva.timeSlot.startTime} + '-' + ${reserva.timeSlot.endTime}"></a> </br>
			<a th:text="'Dia de la reserva: ' + ${reserva.reserve.dateOfTheReserve}"></a> </br>
		 </td>
		</tr>
	    </table>
		<br/>
		<a href="/pantallaMisReservas/misReservas" class="btn btn-success" role="button">Quiero mantener mi reserva</a>
		<a th:href="@{/pantallaMisReservas/misReservas/eliminar/{reserva}/(reserva=${reserva.reserve.numberOfReserve})}"  class="btn btn-danger" role="button">Cancelar Reserva</a>
      </tr>
</body>
</html>