<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Mis Reservas</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
	 <link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/menu_citizen" >...</div>
<div th:replace="fragments/logininfo" >...</div>
<h1>Mis Reservas</h1>
       <tr th:each="reserva: ${misReservas}">
	   <table>
		<tr>
	     <td> <img th:src="@{{imagen}(imagen=${reserva.imagen})}" width="384" height="240"> </td>
		 <td>
			<a th:text="'Area: ' + ${reserva.area}"></a> </br> 
			<a th:text="'Zonas: ' + ${reserva.zonas}"></a> </br>
			<a th:text="'Cantidad de personas: ' + ${reserva.reserve.numberOfPeople}"></a> </br>
			<a th:text="'Horario: ' + ${reserva.timeSlot.startTime} + '-' + ${reserva.timeSlot.endTime}"></a> </br>
			<a th:text="'Dia de la reserva: ' + ${reserva.reserve.dateOfTheReserve}"></a> </br>
			<a th:href="@{/pantallaMisReservas/misReservas/modificar/{reserva}/(reserva=${reserva.reserve.numberOfReserve})}" class="btn btn-warning" role="button">Modificar Reserva</a>
			<a th:href="@{/pantallaMisReservas/misReservas/cancelar/{reserva}/(reserva=${reserva.reserve.numberOfReserve})}" class="btn btn-danger" role="button">Cancelar Reserva</a>
		 </td>
		</tr>
	    </table>
		<br/>
      </tr>
	  <tr th:if="${misReservas!=null and misReservas.empty}">
		<a> No tienes ninguna reserva actualmente </a> </br>
		<a> Haz una reserva YA! </a>
		<a href="/pantallaReservar/seleccionarArea" class="btn btn-success" role="button">Reservar</a>
	  </tr>
</body>
</html>