<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar workplan</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Workplan</h2>
<form action="#" th:action="@{/workplan/update}"
      th:object="${workplan}" method="post">
    <table>

        <tr>
            <td><label>InitialDate</label></td>
            <td><input type="text" th:field="*{InitialDate}" /></td>
        </tr>
        <tr>
            <td><label>EndDate</label></td>
            <td><input type="text" th:field="*{EndDate}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Edita workplan" /></td>
        </tr>
    </table>
</form>
</body>
</html>