<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crear nou planassignat</title>
   <meta charset="UTF-8" />
    <link rel="stylesheet"  
    
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2>Nou planassignat</h2>
    <form action="#" th:action="@{/planasignado/add}"
                     th:object="${planasignado}" method="post">
      <table>
        
        <tr>
            <td><label>idservicio</label></td>
            <td><input type="text" th:field="*{idservicio}" /></td>
        </tr>
        <tr>
            <td><label>idplan</label></td>
            <td><input type="text" th:field="*{idplan}" /></td>
        </tr>
        
        <tr>
            <td colspan="2"><input type="submit" value="Afegeix planassignat" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
   