<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Gestionar PlansAssignats</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Llista de PlansAssignats</h1>
   <table>
     <thead>
       <tr>
         <th>idservice</th>
         <th>idplans</th>
         
       </tr>
     </thead>
     <tbody>
       <tr th:each="planasignado: ${planesasignados}">
         <td th:text="${planasignado.idservice}"></td> 
         <td th:text="${planasignado.idplans}"></td>
         
         <td><a th:href="@{/plan/update/{idservice}/{idplan}(idservice=${planasignado.idservice}, idplan=${planasignado.idplan})}">Edita</a> 
         </td>
         <td><a th:href="@{/plan/delete/{idservice}/{idplan}(idservice=${planasignado.idservice}, idplan=${planasignado.idplan})}">Esborra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a href="add" >Afegeix planassignat</a> 
</body>
</html>