<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Preguntas Frecuentes</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
	 <link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/menu_citizen" >...</div>
<div th:replace="fragments/logininfo" >...</div>
<h1>Preguntas Frecuentes</h1> </br>
<h2> <b>¿Porqué no puedo realizar una reserva?</b> </h2>
<a>Para poder realizar una reserva necesitar estar registrado y realizar la reserva al menos 2 horas antes y no mas tarde de 48 horas </a> </br> </br> 
<h2> <b>No puedo modificar una reserva</b> </h2>
<a>No se puede realizar una modifiación, pero puedes cancelarla y luego crear una nueva.</a>

</body>