<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta charset="UTF-8"/>
<link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
<h2>Gestión Espacios Naturales de la Comunidad Valenciana</h2>
<img src="../imagenes/logo_gv.png"/>
	<br>
	<br>
	<h3>Acceso</h3>
	
	<div th:replace="fragments/logininfo" >...</div>
	<form action="#" th:action="@{/user/login}" 
	      th:object="${user}" method="post">
		<table id="login">
		<tr>
		   	<td align="left"><label>DNI/NIF:</label></td>
            <td align="left"><input class="form_control" type="text" th:field="*{username}"/>
            <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div></td>
        </tr>
		<tr>
		   	<td align="left"><label>Contraseña:</label></td>
            <td align="left"><input class="form_control" type="password" th:field="*{password}"/>
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div></td>
		</tr>
		<tr><td></td>
		<td align="left" border="0">
		<input type="button" value="Página anterior" onClick="history.go(-1);">		
		<input type="submit" value="Acceso" />
		</td>
		</tr>
		</table>
	</form>
</body>
</html>
