<div id="menu_gestor">
<section id="menu">
   <table id="menu_gestor_municipal">
   <tr> 
       <td id="menu_gestor_municipal"><a href="/">Inicio</a></td>
       <td id="menu_gestor_municipal"><a href="/gestor/index">Nivel de ocupacion</a></td>
       <td id="menu_gestor_municipal"><a href="/pantallaMisReservas/misReservas">Mis Reservas</a></td>
       <td id="menu_gestor_municipal"><a href="/user/faq">FAQ</a></td>
       <td id="menu_gestor_municipal"><a href="/user/miPerfil">Mi Perfil</a></td>
   </tr>
   </table>
</section>
        <img src="/imagenes/logo_gv.png"/>
</div>