<div id="menu_publico">
<section id="menu">
   <table id="menu_responsable_ma">
   <tr> 
       <td id="menu_responsable_ma"><a href="../index.html">Inicio</a></td>
       <td id="menu_responsable_ma"><a href="#">Municipios</a></td>
       <td id="menu_responsable_ma"><a href="#">Gestores</a></td>
       <td id="menu_responsable_ma"><a href="#">Servicios</a></td>
       <td id="menu_responsable_ma"><a href="mi_perfil.html">Mi Perfil</a></td>
   </tr>
   </table>
</section>
        <img src="../imagenes/logo_gv.png"/>
</div>