<div id="menu_publico">
<section id="menu">
   <table id="menu_citizen">
   <tr> 
       <td id="menu_citizen"><button type="button" class="boton" onclick="">Inicio</button></td>
       <td id="menu_citizen"><button type="button" class="boton" onclick="">Reservar</button></td>
       <td id="menu_citizen"><button type="button" class="boton" onclick="">Mis Reservas</button></td>
       <td id="menu_citizen"><button type="button" class="boton" onclick="">FAQ</button></td>
       <td id="menu_citizen"><button type="button" class="boton" onclick="">Mi Perfil</button></td>
   </tr>
   </table>
</section>
        <img src="../imagenes/logo_gv.png"/>
</div>