<div id="menu_gestor">
<section id="menu">
   <table id="menu_gestorMunicipal">
   <tr> 
       <td id="menu_gestorMunicipal"><a href="../index.html">Inicio</a></td>
       <td id="menu_gestorMunicipal"><a href="#">Areas</a></td>
       <td id="menu_gestorMunicipal"><a href="#">Reservas</a></td>
       <td id="menu_gestorMunicipal"><a href="#">Servicios</a></td>
       <td id="menu_gestorMunicipal"><a href="mi_perfil.html">Mi Perfil</a></td>
   </tr>
   </table>
</section>
        <img src="../../imagenes/logo_gv.png"/>
</div>