<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Crea nova Àrea</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h2> Nova Area</h2>
    <form action="#" th:action="@{/area/add}" 
                     th:object="${area}" method="post">
      <table>
        <tr>
            <td><label>Area</label></td>
            <td><input type="text" th:field="*{name}" /></td> 
        </tr>
         <tr>
            <td><label>Es restringida?</label></td>
            <td><input type="bool" th:field="*{isRestricted}" /></td>
        </tr>
         <tr>
            <td><label>Localització</label></td>
            <td><input type="text" th:field="*{geographicalLocation}" /></td>
        </tr>
		<tr>
            <td><label>Tipus de Àrea</label></td>
            <td><input type="text" th:field="*{typeOfArea}" /></td>
        </tr>
        <tr>
            <td><label>Caracteristiques</label></td>
            <td><input type="text" th:field="*{physicalCharacteristics}" /></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><label>Longitud y Anchura</label></td>
            <td><input type="text" th:field="*{lengthAndWidth}" /></td>
        </tr>
        <tr>
            <td><label>Orientation</label></td>
            <td><input type="text" th:field="*{Orientation}" /></td>
        </tr>
        
         <tr>
            <td><label>Municipio</label></td>
            <td><input type="number" th:field="*{codeMunicipality}" /></td>
        </tr>
        
        
        
		<tr>
            <td><label>Url imagen</label></td>
            <td><input type="text" th:field="*{imagen}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Afegeix Àrea" /></td>
        </tr>
      </table>
    </form>
</body>
</html>
