<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar Àrees</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   <link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
   <h1>Lista de Areas</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>Nom</th>
         <th>Es restringida</th>
         <th>Localización</th>
     	 <th>Tipo de Area</th>
         <th>Caracteristicas</th>
     	 <th>Descripción</th>
     	 <th>Longitud y Anchura</th>
     	 <th>Orientación</th>
		 <th>Municipio</th>
		 <th>Url-Imagen</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="area: ${area}">
         <td th:text="${area.name}"></td>
         <td th:text="${area.isRestricted}"></td>
         <td th:text="${area.geographicalLocation}"></td>
         <td th:text="${area.typeOfArea}"></td>
         <td th:text="${area.physicalCharacteristics}"></td>
         <td th:text="${area.description}"></td>
         <td th:text="${area.lengthAndWidth}"></td>
         <td th:text="${area.Orientation}"></td>
         <td th:text="${area.codeMunicipality}"></td>
		 <td th:text="${area.imagen}"></td>
         <td><a type="button" class="btn btn-warning" th:href="@{/area/update/{name}(name=${area.name})}">Editar</a>
         </td>
          <td><a type="button" class="btn btn-warning" th:href="@{/area/updateservei/{name}(name=${area.name})}">Editar Servei</a>
         </td>
         <td><a type="button" class="btn btn-danger" th:href="@{/area/delete/{name}(name=${area.name})}">Borrar</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a type="button" class="btn btn-success" href="add">Añdir area</a>
</body>
</html>