<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Afegir Servei al Àrea</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     <link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/menu_gestor_municipal" >...</div>
<div id="contenido_gestor">
 <h3>Edición Area - Gestión de servicios</h3>
 <br>
    <form action="#" th:action="@{/area/updateservei}"
                     th:object="${area}" method="post">
      <table id="tabla_gestor">
        <tr>
            <td><img src="../../imagenes/playa_morrongo.jpg" width="100px" height="100px"></td>
            <td id="celda_principal"><h3 th:text="*{name}" > </h3></td>
        </tr>
       </table>
       <table id="tabla_gestor">
        <tr>
            <td>Serveis:</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr th:each="serveisvalue: ${serveis}"><td></td>
         <td th:text="${serveisvalue}"></td><td><input type="submit" value="Eliminar" class="boton2"/></td>
        </tr>
        <tr><td><br></td>
        </tr>
        <tr>
        <td>
        <select type="text" name="service" class="boton2" > 
            <option th:each="service : ${serveiList}"
                    th:value="${service}"
                    th:text="${service}"></option>
 		</select>
		</td>
		<td>
			<input type="submit" value="Afegeix servei" class="boton2"/>
		</td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Solicitar nou servei" class="boton2"/></td>
        </tr>
      </table>
    </form>
</div>
</body>
</html>