<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Actualizar Area</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
   <link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
    <div th:replace="fragments/menu_gestor_municipal" >...</div>
    <div th:replace="fragments/logininfo" >...</div>
    <h2>Actualizar Area</h2>
    <form action="#" th:action="@{/area/update}" 
                     th:object="${area}" method="post">
      <table id="tabla_forms">
        <tr>
            <td><label>Area</label></td>
            <td><input type="text" th:field="*{name}" readonly/></td> 
        </tr>
         <tr>
            <td><label>Es restringida?</label></td>
            <td><input type="bool" th:field="*{isRestricted}" /></td>
        </tr>
         <tr>
            <td><label>Localització</label></td>
            <td><input type="text" th:field="*{geographicalLocation}" /></td>
        </tr>
		<tr>
            <td><label>Tipus de Àrea</label></td>
            <td><input type="text" th:field="*{typeOfArea}" readonly /></td>
        </tr>
        <tr>
            <td><label>Caracteristiques</label></td>
            <td><input type="text" th:field="*{physicalCharacteristics}" /></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><label>Longitud y Anchura</label></td>
            <td><input type="text" th:field="*{lengthAndWidth}" /></td>
        </tr>
        <tr>
            <td><label>Orientation</label></td>
            <td><input type="text" th:field="*{Orientation}" /></td>
        </tr>
        
         <tr>
            <td><label>Municipio</label></td>
            <td><input type="number" th:field="*{codeMunicipality}"  readonly/></td>
        </tr>
        
		<tr>
            <td><label>Url imagen</label></td>
            <td><input type="text" th:field="*{imagen}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Actualiza Area" /></td>
        </tr>
      </table>
    </form>
</body>
</html>