
    /*Css principal de la aplicación*/
    /********************************/
    
    *{
		padding:0;
		margin:0;
		background-color:#E8E8E8;
		font-family: arial; /*tipografía texto*/
	}
	
	a{
		color:black;
	}
	
	h2{
	font-size: 40px;
	text-align: center;
	}
	
	body{
		background-color:#E8E8E8;
	}
	
	header{
		width: 100%;
		box-shadow:1px 1px 5px #000;
		position:fixed;
    }

  #tabla_forms{
  		width:400px; 
  		margin:auto;
  }

   table {
   		width: 100%;
   		padding-top: 12px;
   		background-color:#E8E8E8;
   }
   
   td {
   		width: 20%;
   		text-align: center;
   		vertical-align: top;
   		border-collapse: collapse;
   }
   	
   .boton {
		width: 100%;
		border: 1px solid #2e518b; /*anchura, estilo y color borde*/
		padding: 10px; /*espacio alrededor texto*/
		background-color:#CDCDCD; /*color botón*/
		color: #000; /*color texto*/
		text-decoration: none; /*decoración texto*/
		font-weight: bold;
		font-family: arial; /*tipografía texto*/
		border: 50px; /*bordes redondos*/
   }
	
	img {
  		 margin: 0px;
  		 float: right;
	}
	
	#menu_citizen{
		border: 1px solid #000;
		background-color:#CDCDCD; /*color fondo*/
		font-weight: bold;
		font-family: arial; /*tipografía texto*/
		font-color:black;
		padding-top: 10px;
		padding-bottom:10px;
	}
	
	#menu_publico{
		padding:20px;
	}
	
	#login{
		width:200px;
		margin:auto;
		border: 0px;
	}

	#menu_gestor_municipal{
	}
	
	#tabla_gestor{
		width:400px;
	}
	
	#contenido_gestor{
		padding-left:20;
	}
	
	#celda_principal{
		background-color:white;
		font-weight: bold;
		flex-wrap: nowrap;
		height:95px;
		margin:auto;
		width:200px;
		border: 1px solid;
	}
	
	.boton2{
		color:#4d4d4d;
		border-radius: 4px;
		padding:3px;
		font-weight: bold;
		
	}
	