    *{
		padding:0;
		margin:0;
		background-color:#CDCDCD;
	}
	
	body{
		background-color:#CDCDCD;
	}
	
	header{
		width: 100%;
		box-shadow:1px 1px 5px #000;
		position:fixed;
		background-color:#CDCDCD;
    }

   table {
   		width: 100%;
   		padding-top: 12px;
   		background-color:#CDCDCD;
   }
   
   td {
   		width: 20%;
   		text-align: center;
   		vertical-align: top;
   		border-collapse: collapse;
   }
   	
   .boton {
		width: 100%;
		border: 1px solid #2e518b; /*anchura, estilo y color borde*/
		padding: 10px; /*espacio alrededor texto*/
		background-color:#CDCDCD; /*color bot�n*/
		color: #000; /*color texto*/
		text-decoration: none; /*decoraci�n texto*/
		text-transform: uppercase; /*capitalizaci�n texto*/
		font-family: arial; /*tipograf�a texto*/
		border: 50px; /*bordes redondos*/
	}
	
	img {
  		 margin: 0px;
  		 float: right;
	}
	
	#menu_citizen{
		border: 1px solid #000;
	}
	
	#login{
		width:200px;
		margin:auto;
		border: 0px;
	}
