<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Gestionar zones</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
   <h1>Llista de zones</h1>
   <table class="table table-striped">
     <thead>
       <tr>
         <th>capacity</th>
         <th>letterAndNumber</th>
         <th>nameArea</th>
         <th></th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="zone: ${zones}">
         <td th:text="${zone.capacity}"></td>
         <td th:text="${zone.letterAndNumber}"></td>
         <td th:text="${zone.nameArea}"></td>
         <td><a type="button" class="btn btn-warning" th:href="@{/zone/update/{letterAndNumber}/{nameArea}(letterAndNumber=${zone.letterAndNumber}, nameArea=${zone.nameArea})}" >Edita</a>
         </td>
         <td><a type="button" class="btn btn-danger" th:href="@{/zone/delete/{letterAndNumber}/{nameArea}(letterAndNumber=${zone.letterAndNumber},nameArea=${zone.nameArea})}">Esborra</a>
         </td>
       </tr>
     </tbody>
   </table>
   <a type="button" class="btn btn-success" href="add">Afegeix zone</a>
</body>
</html>
