<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nou Municipal Manager</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"

          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nou Municipal Manager</h2>
<form action="#" th:action="@{/staff/add}"
      th:object="${staff}" method="post">
    <table>
        <tr>
            <td><label>Code</label></td>
            <td><input type="text" th:field="*{code}" /></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}" /></td>
        </tr>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="*{Name}" /></td>
        </tr>
        <tr>
            <td><label>User</label></td>
            <td><input type="text" th:field="*{User}" /></td>
        </tr>
        <tr>
            <td><label>Password</label></td>
            <td><input type="text" th:field="*{Password}" /></td>
        </tr>
        <tr>
            <td><label>InitialDate</label></td>
            <td><input type="text" th:field="*{InitialDate}"  placeholder="dd/MM/yyyy"/></td>
        </tr>
            <td colspan="2"><input type="submit" value="Afegeix Municipal Manager" /></td>
        </tr>
    </table>
</form>
</body>
</html>