<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar Gestores Municipales</title>
    <meta charset="UTF-8" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
   <link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragments/menu_responsable_ma" >...</div>
<div th:replace="fragments/logininfo" >...</div>
<h1>Lista de Gestores Municipales</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Dni</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Password</th>
        <th>Fecha Inicial</th>
        <th>Fecha Final</th>
        <th>Codigo</th>


    </tr>
    </thead>
    <tbody>
    
    <tr th:each="municipalmanager: ${municipalmanagers}">
        <td th:text="${municipalmanager.dni}"></td>
        <td th:text="${municipalmanager.name}"></td>
        <td th:text="${municipalmanager.user}"></td>
        <td th:text="${municipalmanager.password}"></td>
        <td th:text="${municipalmanager.initialDate}"></td>
        <td th:text="${municipalmanager.endDate}"></td>
        <td th:text="${municipalmanager.code}"></td>

        <td><a type="button" class="btn btn-warning" th:href="@{/municipalmanager/update/{dni}(dni=${municipalmanager.dni})}">Edita</a>
        </td>
        <td><a type="button" class="btn btn-danger" th:href="@{/municipalmanager/delete/{dni}(dni=${municipalmanager.dni})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a type="button" class="btn btn-success" href="add" >Añadir Gestor Municipal</a>
</body>
</html>