<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestionar MunicipalManager</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Llista de Municipal Manager</h1>
<table>
    <thead>
    <tr>
        <th>Code</th>
        <th>DNI</th>
        <th>name</th>
        <th>User</th>



        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="MunicipalManager: ${MunicipalManager}">
        <td th:text="${MunicipalManager.dni}"></td>
        <td th:text="${MunicipalManager.name}"></td>

        <td><a th:href="@{/MunicipalManager/update/{dni}{name}(dni=${MunicipalManager.dni}, name=${MunicipalManager.name})}">Edita</a>
        </td>
        <td><a th:href="@{/MunicipalManager/delete/{dni}{name}(dni=${MunicipalManager.dni}, name=${MunicipalManager.name})}">Esborra</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add" >Afegeix MunicipalManager</a>
</body>
</html>