<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Municipal Manager</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Municipal Manager</h2>
<form action="#" th:action="@{/municipalmanager/update}"
      th:object="${municipalmanager}" method="post">
    <table>
        <tr>
            <td><label>dni</label></td>
            <td><input type="text" th:field="*{dni}" /></td>
        </tr>

        <tr>
            <td><label>name</label></td>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
       
        <tr>
            <td><label>user</label></td>
            <td><input type="text" th:field="*{user}" /></td>
        </tr>
        <tr>
            <td><label>password</label></td>
            <td><input type="text" th:field="*{password}" /></td>
        </tr>
         <tr>
            <td><label>initialDate</label></td>
            <td><input type="text" th:field="*{initialDate}" /></td>
        </tr>
        <tr>
            <td><label>endDate</label></td>
            <td><input type="text" th:field="*{endDate}" /></td>
        </tr>
         <tr>
            <td><label>code</label></td>
            <td><input type="text" th:field="*{code}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Edita MunicipalManager" /></td>
        </tr>
    </table>
</form>
</body>
</html>