<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Prueba de Reserva</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
    <h1>Reservar</h1>
    <form action="#" th:action="@{/pantallaReservar/seleccionarArea}" 
                     th:object="${formulario}" method="post"> 
      <table>
	  <tr>
	    <td><label>Provincia</label></td>
		<td> <select class="form_control" type="text" th:field="*{provincia}"> 
			<!--option value="No seleccionat">Selecciona el gènere</option-->
			<option th:each="provinciaValue : ${provinciasList}"
				th:value="${provinciaValue}"
				th:text="${provinciaValue}"></option>
			</select>
		</td>
		<td th:if="${localidadesList == null}" colspan="2"><input type="submit" value="Seleccionar" /></td>
	   </tr>
	  <tr th:if="${localidadesList != null}">
	    <td><label>Localidad</label></td>
		<td> <select class="form_control" type="text" th:field="*{localidad}"> 
			<!--option value="No seleccionat">Selecciona el gènere</option-->
			<option th:each="localidadValue : ${localidadesList}"
				th:value="${localidadValue}"
				th:text="${localidadValue}"></option>
			</select>
		</td>
		<td th:if="${area == null}" colspan="2"><input type="submit" value="Seleccionar" /></td>
	   </tr>
      </table>
	  
	  <h2 th:if="${area != null}">Llista de Àrees</h2>
   <table th:if="${area != null}" class="table table-striped" >
     <thead>
       <tr>
         <th>Nom</th>
         <th>Es restringida</th>
         <th>Localització</th>
     	 <th>Tipus de Àrea</th>
         <th>Caracteristiques</th>
     	 <th>Descripció</th>
     	 <th>Longitud y Anchura</th>
     	 <th>Orientació</th>
		 <th>Municipí</th>
       </tr>
     </thead>
     <tbody>
       <tr th:each="area: ${area}">
         <td th:text="${area.name}" th:field="*{area}"></td>
         <td th:text="${area.isRestricted}"></td>
         <td th:text="${area.geographicalLocation}"></td>
         <td th:text="${area.typeOfArea}"></td>
         <td th:text="${area.physicalCharacteristics}"></td>
         <td th:text="${area.description}"></td>
         <td th:text="${area.lengthAndWidth}"></td>
         <td th:text="${area.Orientation}"></td>
         <td th:text="${area.codeMunicipality}"></td>
         <td><a th:if="${area.isRestricted == true}" type="submit" class="btn btn-warning">Reservar</a>
       </tr>
     </tbody>
   </table>
    </form>
</body>
</html>
