<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
   <title>Prueba de Reserva</title>
   <meta charset="UTF-8" />
   <link rel="stylesheet"       
     href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
     <link type="text/css" href="/css/estilos.css" rel="stylesheet"/>
</head>
<body>
    <div th:replace="fragments/menu_citizen" >...</div>
	<div th:replace="fragments/logininfo" >...</div>
    <h1>Reservar</h1>
    <form action="#" th:action="@{/pantallaReservar/seleccionarArea}" 
                     th:object="${formulario}" method="post"> 
      <table>
	  <tr>
	    <td><label>Provincia</label></td>
		<td> <select th:if="${localidadesList == null}" class="form_control" type="text" th:field="*{provincia}"> 
			<option th:each="provinciaValue : ${provinciasList}"
				th:value="${provinciaValue}"
				th:text="${provinciaValue}"></option>
			</select>
			<select th:if="${localidadesList != null}" hidden class="form_control" type="text" th:field="*{provincia}"> 
			<option th:each="provinciaValue : ${provinciasList}"
				th:value="${provinciaValue}"
				th:text="${provinciaValue}"></option>
			</select>
			<label th:if="${localidadesList != null}" th:text="${provinciasList}"></label>
		</td>
		<td th:if="${localidadesList == null}" colspan="2"><input class="btn btn-success" type="submit" value="Seleccionar" /></td>
		<td th:if="${localidadesList != null}" colspan="2"><a class="btn btn-danger" href="/pantallaReservar/seleccionarArea">Cambiar Provincia y/o localidad</a></td>
	   </tr>
	  <tr th:if="${localidadesList != null}">
	    <td><label>Localidad</label></td>
		<td> <select th:if="${areas == null}" class="form_control" type="text" th:field="*{localidad}"> 
			<option th:each="localidadValue : ${localidadesList}"
				th:value="${localidadValue}"
				th:text="${localidadValue}"></option>
			</select>
			<select th:if="${areas != null}" hidden class="form_control" type="text" th:field="*{localidad}"> 
			<option th:each="localidadValue : ${localidadesList}"
				th:value="${localidadValue}"
				th:text="${localidadValue}"></option>
			</select>
			<label th:if="${areas != null}" th:text="${localidadesList}"></label>
		</td>
		<td th:if="${areas == null}" colspan="2"><input class="btn btn-success" type="submit" value="Seleccionar" /></td>
	   </tr>
      </table>
	  
	<h2 th:if="${areas != null}">Llista de Àrees</h2>
	<tr th:each="mostrarArea: ${areas}">
		<table>
		<tr>
			<td> <img th:src="@{{imagen}(imagen=${mostrarArea.area.imagen})}" width="384" height="240" /> </td>
			<td>
				<h3 th:text="${mostrarArea.area.name}"></h3>
				<a th:if="${mostrarArea.area.isRestricted == true}">Disponibilidad:</a> </br>
				<a th:each="time: ${mostrarArea.timeSlot}">
				<table>
					<a th:text="${time.startTime} + '-' + ${time.endTime}"> </a> </br>
				</table>
				</a>

				</br>
				<a th:if="${mostrarArea.area.isRestricted == true}" type="submit" class="btn btn-warning" th:href="@{/pantallaReservar/reservar/{area}(area=${mostrarArea.area.name})}">Reservar </a> 
				<a th:if="${mostrarArea.area.isRestricted == false}" class="btn btn-success" >Area no restringida</a>
				</br>
			</td>
		</tr>
		</table>
   </tr>
    </form>
</body>
</html>
